@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", system-ui, sans-serif;
  --color-gruvbox: #f7f1ea;
  --color-gruvbox-dark: #282828;
  --color-whipacity: rgba(255, 255, 255, 0.4);
}

:root {
  --color-canvas-subtle: rgba(255, 255, 255, 0.4);
  --bgColor-muted: rgba(255, 255, 255, 0.4);
  --default-font-family: var(--font-poppins);
}

.dark:root {
  --color-canvas-subtle: #1d2021;
  --bgColor-muted: #1d2021;
}

:root {
  -moz-tab-size: 4;
  tab-size: 0;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5a580;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5a5a5;
}

/* Basics */
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

p {
  margin-bottom: 1.5rem;
  color: #374151;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.dark p {
  color: #d1d5db;
}

.prose pre {
  overflow-x: auto;
  width: auto;
  background-color: #32302f;
  color: white;
}

code {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
