@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Poppins", system-ui, sans-serif;
  --color-gruvbox: #f7f1ea;
  --color-gruvbox-dark: #282828;
  --color-whipacity: rgba(255, 255, 255, 0.4);
}

body {
  height: 100%;
}
:root {
  -moz-tab-size: 4;
  tab-size: 0;
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5a580;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5a5a5;
}

.dark .prose a {
  --tw-text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.dark .prose strong {
  --tw-text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.prose li {
  color: #000;
  list-style: disc;
  padding: 0 0 0 5px;
}

.dark .prose li {
  color: #fff;
  list-style: disc;
  padding: 0 0 0 5px;
}
.markdown.prose ul > li {
  padding-left: 0.5em;
}

.prose ul {
  margin: 0 0 0 20px;
  padding: 0;
}

.prose li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.markdown.prose p {
  text-align: justify;
  hyphens: auto;
}

html {
  font-family: "Poppins", sans-serif;
}

.prose pre {
  overflow-x: auto;
  width: auto;
  background-color: #32302f;
  color: white;
}

code {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: black;
}

.dark h1 {
  color: white;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.dark h2 {
  color: white;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
}

.dark h3 {
  color: white;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
}

.dark h4 {
  color: white;
}

h5,
h6 {
  font-weight: 700;
  color: black;
}

.dark h5,
.dark h6 {
  color: white;
}

p {
  margin-bottom: 1.5rem;
  color: #374151;
}

.dark p {
  color: #d1d5db;
}
